@import "tailwindcss";

@theme {
  --breakpoint-2xl: initial;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: 'League Spartan', 'sans-serif';  /* For headings */
  --font-body: 'Alice', 'serif';  /* For other text */
}
@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

/* Apply 'League Spartan' font to headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

/* In your globals.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1035ac;
}