@import "tailwindcss";

@theme {
  --breakpoint-2xl: initial;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: 'League Spartan', 'sans-serif';  /* For headings */
  --font-body: 'Alice', 'serif';  /* For other text */
}
@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

/* Apply 'League Spartan' font to headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
